body{

}
::placeholder{
    font-size: 14px;
    color: rgb(172, 171, 171);
}
.form{

    width:60%;
    background:#ffffff!important;
    border-radius:3px;
    /* box-shadow:0 0 38px -10px #000;  */
   left: 18%;
    padding:80px 30px;
border: rgb(0, 0, 0);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
 
}



#campo{
    position: relative;
    font-size: 15px;
    top: 10px;
 
}

#opciones{
    padding-bottom:10px;

    font-size: 16px;
    width:100%;
    color:#000000!important;
    letter-spacing: 1px;
    font-family: serif;
  
    transition:all .3s;
}
.editar{
    background-color: rgb(23, 143, 255)!important;
}
.editar:hover{
    background-color: rgb(39, 36, 211)!important;
    color:#dadada!important;
}
.eliminar{
    background-color: rgb(255, 23, 23)!important;
}
.eliminar:hover{
    background-color: rgb(189, 0, 0)!important;
    color:#dadada!important;
}
.titulo-39{
    font-size: 14px!important;
    
}
#titulo{
    font-size: 30px;
    margin-top: -6%;
    color: rgb(204, 204, 204);
}
.input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #4b4b4b;
}
.input:focus{
    border-bottom:2px solid #9c9c9c;
}
p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#252525;
}
.a{
    float:right;
    padding:8px 12px;
    margin:30px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #9c9c9c;
    background:0;
    color:#424242;
    cursor:pointer;
    transition:all .3s;
}

.a:hover{
    background:#000000;
    color:rgb(199, 199, 199);
}



span{
    margin:0 5px 0 15px;
}

.table{
    margin-top: 3%;
    margin-left: 2%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    }
.td{
    border: rgb(0, 0, 0)!important;
}
.th{
    border: rgb(0, 0, 0)!important;
}
     #ajustes-1{
         margin-left: 15%;
        width: 70%!important;
    } 
    
    
    /* .container-1{
        position: relative;
        width: 100px;
    } */
  .tamanio-32{
      font-size: 16px!important;
  }
    #opcion{
        position: relative;
        left: 5%!important;
    }
    #opcion-1{
        position: relative;
        left: 0px!important;
    }
   
    #opciones{
        position: relative;
        background-color: rgb(211, 211, 211);
        border-color: rgb(161, 161, 161);
    }
    #opciones-1{
        position: relative;

        background-color: rgb(211, 211, 211);
        border-color: rgb(161, 161, 161);
    }

.table{
    text-align: center;
}


#registrar{
    margin-top: 3%;
    width: 330px;
    margin-left: 38%;
    height: 50px;
    font-weight: 600;
 
    font-size: 22px;
}